body {
    background-color: black;
}

h1 {
    background-image: linear-gradient(to right, blue, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    position: relative;
    top: 700px;
    font-family: monospace;
    text-align: center;
    font-weight: bolder
}

h2 {
    color: white;
    font-size: 25px;
    font-family: monospace;
    width: 750px;
    position: absolute;
    top: 100px;
    text-align:center;
    left:325px;
    font-weight: 500;
}

h5 {
    font-family: monospace;
    color: white;
    font-weight: 5px;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: -110px;
}

h5 a {
    color: white;
}

.pfp img {
    height: 200px;
    width: 150px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 10px;
}

.first {
    background-image: linear-gradient(to bottom right, #C6EA8D, #FE90AF);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 100px;
    top: 300px;
    margin: 25px;
}


.second {
    background-image: linear-gradient(to top right, #EA8D8D, #A890FE);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 400px;
    top: 300px;
    margin: 25px;
}


.third {
    background-image: linear-gradient(to bottom right, #D8B5FF, #1EAE98);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 700px;
    top: 300px;
    margin: 25px;
}

.fourth {
    background-image: linear-gradient(to top right, #11998E, #38EF7D);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 1000px;
    top: 300px;
    margin: 25px;
}

.content {
    position: relative;
}

.content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    white-space: nowrap;
    left: 52.5%;
    top: -150px;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 4px #03a9f4;
}

.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 0.75s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

/*https://www.b3multimedia.ie/beautiful-color-gradients-for-your-next-design-project*/

a:link {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: red;
}
