body {
    background-color: black;
    overflow-x: hidden;
}

h1 {
    font-family: monospace;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    top: 3px;
    white-space: nowrap;
    color: white;
    -webkit-text-stroke: 0px burlywood;
    justify-content: center;

}

h2 {
    font-family: monospace;
    font-display: bolder;
    font-size: 25px;
    white-space: nowrap;
    color: white;
    text-align: center;
    position: relative;
    justify-content: center;
    top: -25px;
}

footer {
    font-family: cursive;
    color: white;
    position: fixed;
    top: 775px;
    white-space: nowrap
}

.footer2 {
    color: white;
    font-family: cursive;
    position: fixed;
    left: 90%;
    top: 95%;

}


.box {
    background-color: blue;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 75px;
    top: 100px;
    margin: 25px;
}



.second {
    background-color: green;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 75px;
    top: 400px;
    margin: 25px;
}


.third {
    background-color: rgb(169, 169, 169);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 450px;
    top: 100px;
    margin: 25px;
}

.fourth {

    background-color: rgb(139, 69, 19);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 450px;
    top: 400px;
    margin: 25px;
}


.fifth {
    background-color: rgb(67, 133, 225);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 800px;
    top: 100px;
    margin: 25px;
}

.sixth {
    background-color: rgb(225, 60, 60);
    width: 100px;
    height: 100px;
    border: 10px solid white;
    padding: 75px;
    position: absolute;
    left: 800px;
    top: 400px;
    margin: 25px;
}

form {
    background-color: white;
    display: flex;
    left: 1200px;
    width: 200px;
    padding: 15px;
    outline-color: beige;
    border-color: aquamarine;
    height: 50px;
    position: fixed;
    flex-direction: row;
    top: 25px;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.jackie img {
    height: 145px;
    width: 235px;
    position: absolute;
    left: 115px;
    top: 230px;
}

.jackie img:hover {
    height: 500px;
    width: 800px;
    position: absolute;
    left: 225px;
    top: 130px;
    z-index: 100;
}

h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 130px;
    top: 125px;
    width: max-content;
    font-family: monospace;
}

.patrick img {
    height: 145px;
    width: 225px;
    position: absolute;
    left: 120px;
    top: 530px;
}

.patrick img:hover {
    height: 500px;
    width: 800px;
    position: absolute;
    left: 225px;
    top: 130px;
    z-index: 100;
}

.patrick h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 140px;
    top: 425px;
    text-align: justify;
    width: max-content;
    font-family: monospace;
}

.turtledove img {
    height: 145px;
    width: 235px;
    position: absolute;
    left: 490px;
    top: 230px;
}

.turtledove img:hover {
    height: 500px;
    width: 800px;
    position: absolute;
    left: 225px;
    top: 130px;
    z-index: 100;
}

.turtledove h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 520px;
    top: 125px;
    width: max-content;
    font-family: monospace;
}

.yzy750 img {
    height: 135px;
    width: 245px;
    position: absolute;
    left: 485px;
    top: 540px;
}

.yzy750 img:hover {
    height: 500px;
    width: 825px;
    position: absolute;
    left: 225px;
    top: 130px;
    z-index: 100;
}

.yzy750 h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 520px;
    top: 425px;
    width: max-content;
    font-family: monospace;
}


.hyper img {
    height: 145px;
    width: 215px;
    position: absolute;
    left: 850px;
    top: 230px;
}

.hyper img:hover {
    height: 500px;
    width: 750px;
    position: absolute;
    left: 215px;
    top: 130px;
    z-index: 100;
}

.hyper h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 850px;
    top: 125px;
    width: max-content;
    font-family: monospace;
}

.ow1 img {
    height: 145px;
    width: 225px;
    position: absolute;
    left: 850px;
    top: 530px;
}

.ow1 img:hover {
    height: 500px;
    width: 800px;
    position: absolute;
    left: 215px;
    top: 130px;
    z-index: 100;
}

.ow1 h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 860px;
    top: 425px;
    width: max-content;
    font-family: monospace;
}

h5 {
    font-family: monospace;
    color: white;
    font-weight: 5px;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: -130px;
}

a:link {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: red;
}


.searchTerm {
    width: 75%;
    border: 10px solid burlywood;
    padding: 15px;
    height: 20px;
    border-radius: 25px;
    background-color: beige;
    font-family: monospace;
    color: black;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 7.5%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.searchbutton {
    position: absolute;
    left: 91.5%;
    top: 3.5%;

}

::placeholder {
    color: black;
}

.waitlist {
    display: flex;
    width: 250px;
    border: 10px solid burlywood;
    border-radius: 10px;
    height: 400px;
    background-image: linear-gradient(to bottom right, #6a82fb, #fc5c7d);
    position: absolute;
    right: 40px;
    border-radius: 10px;
}

.phone {
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    color: white;
    text-align: center;
    position: relative;
    top: -175px;
}


.phone ::placeholder {
    color: white;
}

.Name {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
    position: absolute;
    left: 1165px;
    top: 300px;
    color: black;
    border-radius: 5px;

}

.Name ::placeholder {
    font-family: monospace;
    position: absolute;
    top: 10px;
}


.Email {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
    position: absolute;
    left: 1165px;
    top: 385px;
    color: black;
    border-radius: 5px;

}

.Email ::placeholder {
    font-family: monospace;
    position: absolute;
    top: 10px;
}

.Phone {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);
    position: absolute;
    left: 1165px;
    top: 470px;
    color: black;
    border-radius: 5px;

}

.Phone ::placeholder {
    font-family: monospace;
    position: absolute;
    top: 10px;
}

.notified_under h2{
    position:absolute;
    font-size:15px;
    right: 51px;
    top: 245px;
}

.Submit {
    width: 80px;
    height: 40px;
    background-image: linear-gradient(to bottom right, #A9F1DF, #FFBBBB);
    position: absolute;
    left: 1225px;
    top: 545px;
    color: black;
    border-radius: 5px;

}

.Submit ::placeholder {
    font-family: monospace;
    position: absolute;
    top: 10px;
}
